* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, rgb(84,130,255), rgb(100,255,134));
}

header {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        color: white;
        font-size: 3rem;
    }
}