* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, rgb(84, 130, 255), rgb(100, 255, 134));
}

header {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: white;
    font-size: 3rem;
  }
}

form {
  display: flex;
  justify-content: center;
  align-items: center;

  input,
  button {
    border: none;
    padding: 0.25rem 0.5rem;
    font-size: 1.75rem;
    margin: 0.1rem;
  }

  input[type="number"] {
    width: 50px;
  }

  /* 隐藏input上下按键 */
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  button{
      cursor: pointer;
      background-color: rgb(65, 120, 236);
      color: white;
  }
}

section {
  display:flex;
  flex-direction: column;
  align-items: center;

  div.todo{
    width: 30vw;
    display: flex;
    align-items: center;
    margin: 0.2rem 0rem;

    p{
      background-color: white;
      color : black;
      padding: 0.25rem 0.5rem;
      font: size 1.75em;
    }

    p.todo-text{
      width: 50%;
    }
    p.todo-time{
      width: 20%;
      text-align: center;
    }
  }

}